<!-- sidebar-cat.component.html -->
<div class="list-group">
  <button type="button" class="list-group-item list-group-item-action" (click)="filter('all')">All</button>
  <button type="button" class="list-group-item list-group-item-action" (click)="filter('pizza')">Pizza</button>
  <button type="button" class="list-group-item list-group-item-action" (click)="filter('burger')">Burger</button>
  <button type="button" class="list-group-item list-group-item-action" (click)="filter('others')">Others</button>
</div>